<div class='level'>
  <div class='level-left'>
    <div class='level-item'>
      <p class='title'> <%= @table.name.capitalize %> schema </p>
    </div>
  </div>

  <div class='level-right'>
    <div class='level-item'>
      <%= link_to 'Explore table data', table_data_path(@table.name), class: 'button is-primary' %>
    </div>

    <div class='level-item'>
      <%= render 'railsdb/admin/shared/search', placeholder: "Search in #{@table.name} schema" %>
    </div>
  </div>
</div>



<div class="table-container">
  <table class="table is-fullwidth is-striped is-hoverable">
    <thead>
      <tr>
        <% @table.columns.first.as_json.each do |key, value| %>
          <th><%= key %></th>
        <% end %>
      </tr>
    </thead>

    <tbody>
      <% @table.columns.as_json.each do |column| %>
        <tr>
          <% column.values.each do |value| %>
            <td> <%= value %>  </td>
          <% end %>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>

<% if @table.foreign_keys.any? %>
  <div class="table-container">
    <table class="table is-fullwidth is-striped is-hoverable">
      <caption>Foreign keys</caption>
      <thead>
        <tr>
          <% @table.foreign_keys.first.as_json.each do |key, value| %>
            <th><%= key %></th>
          <% end %>
        </tr>
      </thead>

      <tbody>
        <% @table.foreign_keys.as_json.each do |column| %>
          <tr>
            <% column.values.each do |value| %>
              <td> <%= value %>  </td>
            <% end %>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
<% end %>

<% if @table.indexes.any? %>
  <div class="table-container">
    <table class="table is-fullwidth is-striped is-hoverable">
      <caption>Indexes</caption>
      <thead>
        <tr>
          <% @table.indexes.first.as_json.each do |key, value| %>
            <th><%= key %></th>
          <% end %>
        </tr>
      </thead>

      <tbody>
        <% @table.indexes.as_json.each do |column| %>
          <tr>
            <% column.values.each do |value| %>
              <td> <%= value %>  </td>
            <% end %>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
<% end %>
