
<div class='level'>
  <div class='level-left'>
    <div class='level-item'>
      <p class='title'> <%= @table.capitalize %> </p>
    </div>
  </div>

  <div class='level-right'>
    <div class='level-item'>
      <%= link_to 'Inspect schema', table_schema_path(@table), class: 'button is-primary' %>
    </div>

    <div class='level-item'>
      <%= render 'railsdb/admin/shared/search', placeholder: "Search in #{@table}" %>
    </div>
  </div>
</div>


<div class="table-container">
  <table class="table is-fullwidth is-striped is-hoverable">
    <thead>
      <tr>
        <% @columns.each do |column| %>
          <th><%= column.name %></th>
        <% end %>
      </tr>
    </thead>

    <tbody>
      <% @data.each do |row| %>
        <tr>
          <% row.each do |key, value| %>
            <td> <%= value %>  </td>
          <% end %>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>

